/* line 1, /home/vcap/app/source/stylesheets/junk.sass */
.mountains {
  background: url("/images/mountains.png") no-repeat transparent;
  background-size: cover; }

/* line 5, /home/vcap/app/source/stylesheets/junk.sass */
.bg--blur {
  background: url("/images/bg--blur.png") no-repeat transparent center bottom;
  background-size: cover;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/* line 14, /home/vcap/app/source/stylesheets/junk.sass */
.bg-kelly {
  background: url("/images/img--meta.jpg") no-repeat transparent center bottom;
  background-size: cover; }

/* line 18, /home/vcap/app/source/stylesheets/junk.sass */
.bg-chart {
  background: url("https://web.archive.org/web/20141125213538/https://www.myenergyresources.com/chart2.png") repeat-x transparent center bottom;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/* line 26, /home/vcap/app/source/stylesheets/junk.sass */
.aligned-item {
  flex: 1; }

/* line 29, /home/vcap/app/source/stylesheets/junk.sass */
.bg-gradient-2 {
  background-image: linear-gradient(-179deg, #49a8d5 0%, #2185C5 100%); }

/* line 32, /home/vcap/app/source/stylesheets/junk.sass */
.bg-gradient-3 {
  background-image: linear-gradient(-1deg, #00A79E 0%, #6AFFDA 100%); }

/* line 35, /home/vcap/app/source/stylesheets/junk.sass */
.bg-gradient-4 {
  background-image: linear-gradient(-1deg, #233640 0%, #3F484F 100%); }

/* line 38, /home/vcap/app/source/stylesheets/junk.sass */
.workshop--bg-desktop {
  background: url("/images/img--artDesk.png") no-repeat transparent;
  background-size: cover; }

/* line 42, /home/vcap/app/source/stylesheets/junk.sass */
.pane {
  position: relative; }

/* line 46, /home/vcap/app/source/stylesheets/junk.sass */
#particles canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0; }

/* line 53, /home/vcap/app/source/stylesheets/junk.sass */
.app-nav {
  width: 250px;
  border-right: 1px solid #e3e3e3;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0; }

/* line 61, /home/vcap/app/source/stylesheets/junk.sass */
.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 250px;
  right: 0; }

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.spacer-100px {
    height: 100px;
}

.list {
  font-family:sans-serif;
}
td {
  padding:10px;
  border:solid 1px #eee;
}

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#fff;
  text-decoration: none;
  background-color: #28a8e0;
  height:30px;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}