<html>
<head>
    <meta charset='utf-8'>
    <meta content='IE=edge,chrome=1' http-equiv='X-UA-Compatible'>
    <title>Pivotal Ephemerol</title>
    <link rel="icon" href="/static/favicon.ico">
    <link href="/static/css/junk.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/pivotal-ui.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class='paxl'>
    <div class='container'>
        <h1 class='type-neutral-2 pull-left mvn'>
            <a href="/" class="span"><span>Pivotal</span>
                <span class='em-max'>Ephemerol</span></a>
        </h1>
        <div class='pull-right '>
            <form action="/upload" method="post" enctype="multipart/form-data" role="form"
                  class="styleguide-form form-inline">
                <div class="form-group">
                    <input type="file" id="file" name="file" class="btn btn-highlight-alt">
                </div>
                <div class="form-group">
                    <button type="submit" name="submitbtn" class="btn btn-highlight-alt" value="zip_scan">ZIP Source
                        Scan
                    </button>
                    <button type="submit" name="submitbtn" class="btn btn-highlight-alt" value="csv_load">CSV Rules
                        Load
                    </button>
                </div>
            </form>
            <div class="pull-right">
                <a href="/static/rulebase.csv" class="btn-sm">starter rulebase.csv</a>
                <a href="/static/sample-app.zip" class="btn-sm">sample-app.zip</a>
            </div>
        </div>
    </div>
</div>
<hr class='divider-alternate-2 mvn'>
<div class='pane bg-gradient-2'>
    <div class='container pvxxxl'>
        <div class='pvl txt-c type-neutral-11'>
            <div class='row mbl'>
                <div>
                    <h1 class='title em-high mvn'>Source Code Scanner</h1>
                    <h2 class='mtn type-neutral-9'>Upload source .ZIP to conduct <strong>Cloud Ready</strong> check</h2>
                </div>
            </div>
            <div class='row'>
                <div class='col-md-8'>
                    <div class='panel panel-basic bg-accent-1'>
                        <div class='panel-body txt-c pvxxl'>
                            <h2>Java</h2>
                            <p>
                                Application server dependencies, JEE API use and hard-coded
                                configuration files
                            </p>
                        </div>
                    </div>
                </div>
                <div class='col-md-8'>
                    <div class='panel panel-basic bg-accent-1'>
                        <div class='panel-body txt-c pvxxl'>
                            <h2>.NET</h2>
                            <p>
                                Check for .NET Core and hard-coded
                                configuration files
                            </p>
                        </div>
                    </div>
                </div>
                <div class='col-md-8'>
                    <div class='panel panel-basic bg-accent-1'>
                        <div class='panel-body txt-c pvxxl'>
                            <h2>Other</h2>
                            <p>
                                Check for 12 Factor violations and other cloud readiness issues
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spacer-100px"></div>
        </div>
    </div>
</div>
<div class='footer bg-dark-1'>
    <div class='container'>
        <div class='row'>
            <div class='col-md-24'>
                <p class='type-neutral-4 mtxl'>
                    © 2016 Pivotal Software, Inc.
                    All Rights Reserved.
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
