{% extends "layout.html" %}
{% block body %}
    <div class='row'>
                <form action="/scan_json" method="post" enctype="multipart/form-data" role="form"
                      class="styleguide-form form-inline">
                    <div class="form-group">
                        <input type="file" id="file" name="file" class="btn btn-default">
                    </div>
                    <div class="form-group">
                        <button type="submit" id="uploadbtn1" class="btn btn-default">Scan</button>
                    </div>

                </form>
            </div>
{% endblock %}