{% extends "layout.html" %}
{% block body %}
    <div class="bg-neutral-11">
        <div class='container pvxl'>
            <div class="bg-neutral-11 ">
                <ul class="list-inline">
                    <li>
                        <h3>File Name: <strong>{{ filename }}</strong></h3>
                    </li>
                    <li class="pull-right">
                        <h3>Cloud Readiness Index:
                            <strong>{{ 100 - results.refactor_rating.cumsum().tail(1).item() }}</strong></h3>
                    </li>
                </ul>
            </div>
            {{ results.to_html(classes="table table-data table-light table-scrollable table-scrollable-md") | safe }}
        </div>
    </div>
    <hr class='divider-alternate-2 mvn'>
{% endblock %}